html, body {
    height: 100%;
    background-color: rgb(0, 80, 107);
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0
}


header, footer {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border: solid lightblue 3px;
}

header > *, footer >* {
    margin: 15px 15px;
}

header h1 {
    color: rgb(0, 80, 107);
}

main {
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align: center;
}

section {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

#input-box {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

#player-choice-input {
    text-align: center;
    font-size: 1.3rem;
}

#error-message {
    display: none;
    color: red;
}

#reset-button {
    font-size: 2rem;
    background-color: lightblue;
    color: rgb(0, 80, 107);
}

main > img {
    background-color: lightblue;
    border: solid black 4px;
    width: 25rem;
    height: 25rem;
    margin: auto 15px;
}

div img, button {
    background-color: lightblue;
}

div button {
    margin-top: 15px;
    border: black solid 1px;
}

#wins {
    color: green;
}

#losses {
    color: red;
}

@media screen and (max-width: 1071px) {
    body {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 3;
        margin: 0;
    }
    main > img {
        width: 15rem;
        height: 15rem;
    }
}